.dropdown {
	position: relative;

  &__button {
    position: relative;
    display: block;
    width: 150px;
    text-align: left;

    background: #FFFFFF;

    border-radius: 15px;
    border: 1px solid #BDBDBD;
    height: 46px;

    padding: 13px 35px 13px 20px;


    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
  }

  &__button:focus, &__button--active {
    outline: none;
    box-shadow: 0px 0px 0px 1px $brandColor;
  }

  &__button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;


    background-image: url(../images/traingel.png);
    background-position: center;

    pointer-events: none;
  }

  &__list {
    display: none;

    position: absolute;
    left: -2px;
    top: -2px;

    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #BDBDBD;

    background: #FFFFFF;
    overflow: hidden;

    border-radius: 15px;
    width: 103%;

    z-index: 1;
  }

  &__list--visible {
    display: block;
  }

  &__list-item {
    margin: 0;
    padding: 0;
    border-bottom: 0px;
    padding: 13px 20px;
    cursor: pointer;
  }

  &__list-item:first-child {
    border-radius: 6px 6px 0 0;
    font-weight: bold;
  }

  &__list-item:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #7E9BBD;
  }

  &__list-item.selected {
    color: $brandColor;
  }

  &__input-hidden {
    display: none;
  }
}
