.filter {
  display: block;
  width: 150px;
  height: 48px;
  gap: 0;
  border-radius: 15px;
  border: 1px solid rgba(189, 189, 189, 1);

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0;

    @include onTABS {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include onDesktop {
      flex-wrap: nowrap;
    }

  }

  &__option {
    background-color: #fafafa;

    &:hover {
      background-color: #fafafa;
    }
  }
}

option {
  background-color: #fafafa;
  color: #444;
}

.bold-option {
  font-weight: bold;
}


select.filter option:hover {
  background-color: transparent;
}

select.filter:focus {
  outline: none;
}

.selected-border {
  border-color: red;
  background-color: transparent;
}

.hide {
  display: none;
}

input:checked {
  background-image: url(../images/asc.svg);
  background-position: center;
  background-repeat: no-repeat;

}

label:has(input:checked) {
  color: red;
}

label:has(input:disabled) {
  color: #8D8D8D;
}



.container__label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.container__label .check-highload {
  position: absolute;
  opacity: 0;
}

.highload2 {
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: solid 1px rgb(13, 11, 11);
}

.container__label:hover .check-highload ~ .highload2 {
  background-color: #ccc;

}

.container__label .check-highload:checked ~ .highload2 {
  background-color: $brandColor;
  border: solid 1px transparent;
}
.container__label .check-highload:disabled ~ .highload2 {
  background-color: #8D8D8D;
  ;
}

.highload2:after {
  content: "";
  position: absolute;
  display: none;
}

.container__label .check-highload:checked ~ .highload2:after {
  display: block;
}

.container__label .highload2:after {
  left: 6px;
  top: 1px;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.hidden {
  display: none;
}
.select2-container .select2-selection--single {
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ddd;
}

.hovered {
  background-color: #f0f0f0;
}
