h1 {
  font-family: Noto Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 68.1px;
  text-align: left;
}

h2 {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
}

h3 {
  font-family: Noto Sans;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
}

h4 {
  font-family: Noto Sans;
  font-size: 25px;
  font-weight: 600;
  line-height: 34.05px;
  text-align: left;
}

h5 {
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.24px;
  text-align: left;

}

h6 {
  font-family: Noto Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: left;
}

form, button {
  font-family: Noto Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.43px;
  text-align: left;
}
